<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Phishing URL Dectetor</title>
</head>

<body>

    <ul>
        <li style="float: left; font-size: 20px;"><a href="#">Minephish</a></li>
        <li><a href="#con">Contacts</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      

    <div class="content">
        <h2>Phishing Website Detection using Machine Learning</h2>

        <form action="/y_predict" method="POST">
            <input type="text" id="url" name="URL" placeholder="    Enter the URL to verify"><br>

            <input type="submit" id="btn" name="sub" value="PREDICT"><br>

    </div>    

    <h3 style="text-align: center; color: red; font-size: 20px;">{{ans}}</h3>
    <h3 style="text-align: center; color: green; font-size: 20px;">{{bns}}</h3>

</body>

</html>